  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Be Vietnam Pro", sans-serif;
    }

    body{
      background: #050816;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
    }

    /* FUNDO */

    .bg{
      position: absolute;
      width: 100%;
      height: 100%;
      background:
      radial-gradient(circle at top left, rgba(132, 0, 255, 0.2), transparent 30%),
      radial-gradient(circle at bottom right, rgba(0, 153, 255, 0.2), transparent 30%);
      filter: blur(20px);
    }

    /* CARD */

    .container{
      width: 420px;
      background: rgba(255,255,255,0.95);
      padding: 40px 35px;
      border-radius: 18px;
      position: relative;
      z-index: 10;
      box-shadow: 0 0 40px rgba(0,0,0,0.4);
    }

    .logo{
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }

    .logo img{
      width: 70px;
    }

    h1{
      text-align: center;
      font-size: 26px;
      margin-bottom: 10px;
      color: #111;
          font-family: "Be Vietnam Pro",sans-serif;

    }

    .subtitulo{
      text-align: center;
      font-size: 14px;
      color: #555;
      margin-bottom: 30px;
      line-height: 22px;
          font-family: "Be Vietnam Pro",sans-serif;

    }

    .input-box{
      margin-bottom: 18px;
    }

    .input-box label{
      display: block;
      margin-bottom: 6px;
      font-size: 14px;
      font-weight: bold;
      color: #222;
          font-family: "Be Vietnam Pro",sans-serif;

    }

    .input-box input{
      width: 100%;
      height: 45px;
      border: none;
      outline: none;
      background: #2c0057;
      border-radius: 7px;
      padding: 0 15px;
      color: white;
      transition: 0.3s;
    }

    .input-box input:focus{
      box-shadow: 0 0 10px #7a00ff;
    }

    .btn{
      width: 100%;
      height: 45px;
      border: none;
      background: linear-gradient(90deg,#7a00ff,#5f2dff);
      color: white;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;
      margin-top: 10px;
      transition: 0.3s;
          font-family: "Be Vietnam Pro",sans-serif;

    }

    .btn:hover{
      transform: scale(1.02);
      box-shadow: 0 0 15px rgba(122,0,255,0.5);
    }

    .voltar{
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
          font-family: "Be Vietnam Pro",sans-serif;

    }

    .voltar a{
      color: #7a00ff;
      text-decoration: none;
      font-weight: bold;
          font-family: "Be Vietnam Pro",sans-serif;

    }
